---
// Importación CORRECTA (con llaves)
import { ServicesGrid } from "./ServicesGrid";
---

<div class="services-wrapper">
  <ServicesGrid client:visible />
</div>

<style is:global>
  /* ... tus estilos de corrección de tema ... */
</style>