---
import "../styles/global.css";
// Importamos la barra de navegación (asegúrate que esta ruta sea la correcta a tu componente)
import Barnav from "../components/ui/Navbar.astro";

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "Vantta Studio | Ecosistema Digital", 
  description = "Desarrollo de Software, Web e Inteligencia Artificial. Sistemas operativos autónomos y soluciones digitales en Magallanes."
} = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" href="/ico.png" />

    </head>

  <body class="bg-black text-white antialiased selection:bg-purple-900 selection:text-white overflow-x-hidden">
    
    <Barnav />
    
    <slot />

  </body>
</html>